.container {
  display: flex;
  height: calc(var(--vh, 1vh) * 100);
  font-family: 'Segoe UI', sans-serif;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    height: auto;
  }
}
